.dialogs{
    background: hotpink;
    color: white;
    padding: 45px;
}

.dialogsItems .dialog{
    padding: 10px;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.dialogsItems a{
    text-decoration: none;
}

.DialogMessage{
    padding: 30px;
    font-size: 25px;
    color: white;
}

.dialogsAvatar{
    width: 50px;
    margin-right: 20px;
}

.messageKirill{
    padding: 0px 0px 0px 0px;
    font-size: 25px;
    color: black !important;
    float: right !important;
}